.paddingX {
  @apply sm:px-16 px-6;
}

.paddingY {
  @apply sm:py-16 py-10;
}
.padding {
  @apply sm:px-16 px-6 sm:py-16 py-10;
}

.hero-head-text {
  @apply font-black text-white lg:text-[80px] sm:text-[60px] xs:text-[50px] text-[40px] lg:leading-[98px] mt-2;
}
.hero-sub-text {
  @apply text-[#dfd9ff] font-medium lg:text-[30px] sm:text-[26px] xs:text-[20px] text-[16px] lg:leading-10;
}

.section-head-text {
  @apply text-white font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px];
}

.section-sub-text {
  @apply sm:text-[18px] text-[14px] text-secondary uppercase tracking-wider;
}
